@font-face {
    font-family:"Blueberry";
    src: url("font/Blueberry .ttf");
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	text-align: center;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

header {
	height: 100px;
	background:#7795A8;
	width: 100%;
	z-index: 10;
	position: fixed;
}


.logo {
    position: center;
	/* width: 30%; */
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav {
	flex: 1;
    text-align: right;
}

nav ul {
    display: inline;
    list-style-type: none;
}

nav ul {
    display: inline;
    margin-right: 20px;
}
